// TODO: Add utility classes to style pages

// TODO Feat: Create a separate style sheet for the landing page/styles

@use '../../system/style-guide/dist/styledictionary/scss/variables.scss'as token;

@use '@shawnsandy/first-paint/src/components.scss';

@include components.button-links();
@include components.form-elements();
@include components.elements-pre();

// @include components.header-addBorders();

// token.$logo-red: white;

[data-main-nav] {
  display: flex;
  padding: .5rem 0;
  align-items: center;
  justify-items: flex-start;
}

.dark-bg {
  background-color: token.$charcoal !important;
}

.text-dark {
  color: token.$charcoal !important;
}

.text-red {
  color: token.$logo-red !important;
}

.text-light {
  color: token.$text-color !important;
}

body {

  h2 {
    // font-size: 2.6rem;
  }

  a {
    color: token.$logo-red;
  }

  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    color: token.$logo-red;
  }

  main {

    min-height: 40vh;
  }


  #cover-page {
    header {
      height: auto;
      min-height: 85vh;

    }

    h2 {
      // font-size: 2rem;
      padding: 2rem;
    }
  }

  nav {

    @media (min-width: 980px) {
      width: 80% !important;
    }
  }

}

svg {
  fill: whitesmoke;
}

a[role=button]>em {
  filter: contrast(1.15);
}

header>section[role=banner] {
  @media (min-width: 980px) {
    max-width: 70%;
  }
}

strong {
  font-weight: 500;
}

[aria-label=feature] {

  ul {
    margin-left: .9rem;
    list-style: disc;
    margin-bottom: 1rem;

    li+li {
      margin-top: .5rem;
    }
  }

  blockquote {
    padding: 3rem 0;
  }

}

nav[data-mobile] section:target {
  background-color: rgba(14, 13, 13, 0.95) !important;
}
