@use '@shawnsandy/first-paint/src/components.scss';


@include components.button-links();
@include components.form-elements();
// @include components.header-addBorders();

body {
  background-color: #000000 !important;
  color: white !important;

  a {
    color: red;
  }

  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    color: #e60303;
  }

  main {
    a {
      color: whitesmoke;
    }

    a:hover,
    a:active,
    a:visited {
      text-decoration: none;
      color: whitesmoke;
    }
  }

  .fp-footer,
  footer[role=contentinfo] {
    border: none
  }

  hr {
    border-top: 1px solid #222222;
  }

  #cover-page {
    header {
      height: auto;
      min-height: 85vh;
    }
  }

  svg {
    fill: whitesmoke;
  }

  nav:target {
    background-color: rgba(8, 8, 8, 0.863);
    width: 100%;
    top: 0;
  }

}

a[role=button]>em {
  filter: contrast(1.15);
}

header>section[role=banner] {
  @media (min-width: 980px) {
    max-width: 70%;
  }
}

strong {
  font-weight: 500;
}

[aria-label=feature] {

  ul {
    margin-left: .9rem;
    list-style: disc;
    margin-bottom: 1rem;

    li+li {
      margin-top: .5rem;
    }
  }

  blockquote {
    padding: 3rem 0;
  }

  pre {
    padding: 2rem;
    margin: 2rem 0;
    background-color: whitesmoke;
    line-height: 1.8;
    border-radius: 1rem;
    font-size: .9rem;
    overflow-x: auto;

    code {
      color: rgb(59, 59, 59);

      &.language-env {}
    }
  }
}
