<footer role="contentinfo" class="py-5 dark-bg text-light">
  <div class="text-center">
    <nav>
      <section>
        <!-- <h6 id="navigate">Navigate</h6> -->
        {% if env.node_env == 'development' %}
        <span>
          {% set navPages = collections.all | eleventyNavigation %}
          <ul class="text-uppercase">
            {%- for entry in navPages %}
            <li>
              <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
            </li>
            {%- endfor %}
          </ul>
        </span>
        {% endif %}
      </section>
    </nav>
  </div>

  <div>
    <p>
      Copyright &copy; {{ hlp.11ty.year() }} {{ settings.author.name }} All
      rights reserved
    </p>
  </div>
  {% if env.node_env == 'development' %}
  <div style="text-align: center">
    <p>NODE ENV {{ env.node_env }}</p>
  </div>
  {% endif %}
</footer>
