{% extends "base.njk" %}
<!-- hide cover page -->
{% block cover %}
<section class="pb-5 text-red">
  <h2 class="text-dark">{{ title }}</h2>
  <h4 class="font-weight-normal">{{ summary }}</h4>
</section>
{% endblock %}
