---
eleventyExcludeFromCollections: true
permalink: css/utilities/fonts.css
---

{% for elm in style.fonts.entities %} {% for token in elm.tokens %} .{{
  elm.name
}}-{{ token.key }} { font-{{ token.key }}: {{ token.value | lower }}; } {%-
endfor -%} {%- endfor -%}
